{% extends 'users/loggedBase.html' %}
{% block title %} My Wallet - Add {% endblock %}
{% load crispy_forms_tags %}

{% block profileContent %}
    <div class="col-12 col-lg-10 ">
        <div>
            <h3>Expenses</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Source</th>
                    <th scope="col">Payment Method</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{ expense.date }}</th>
                        <td>{{expense.amount}}</td>
                        <td>{{expense.source}}</td>
                        <td>
                        {% ifequal expense.paymentMethod "B" %}
                        Bank
                        {% else %}
                        Cash
                        {% endifequal %}
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend>Update:</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group mt-1">
                    <button type="submit" class="btn btn-success">Update</button>
                    <a type="button" class="btn btn-info" href="{% url 'wallet' %}">Back</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}