{% extends 'users/loggedBase.html' %}
{% block title %} My Wallet {% endblock %}

{% block addition %} 
    <p>
        October summary: <b>+1300$</b>
    </p>
{% endblock %}

{% block profileContent %}
    <div class="col-12 col-lg-10 ">
        <div>
            <h3>Expenses</h3>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Source</th>
                    <th scope="col">Type</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>
                        <a type="button" class="btn btn-warning">Edit</a>
                        <a type="button" class="btn btn-danger">Del</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <a type="button" class="btn btn-success" href="{% url 'addToWallet' %}">Add</a>
              <a type="button" class="btn btn-info">Show more</a>
        </div>
        <hr>
        <div>
            <h3>Incomes</h3>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Source</th>
                    <th scope="col">Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
{% endblock %}