{% extends 'users/loggedBase.html' %}
{% block title %} My Wallet {% endblock %}

{% block addition %}
  <h5>Summary of Month</h5>
  <p class="text-start">
    Total: <b>{{ total|floatformat:2 }}$</b> <br>
    Expenses: <b>{{ sumExpense|floatformat:2 }}$</b><br>
    Incomes: <b>{{ sumIncome|floatformat:2 }}$</b>

  </p>
{% endblock %}

{% block profileContent %}
    <div class="col-12 col-lg-10 ">
        <div>
            <h3>Expenses</h3>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Source</th>
                    <th scope="col">Payment Method</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for expense in expenses %}
                  <tr>
                    <th scope="row">{{expense.date}}</th>
                    <td>{{expense.amount}}</td>
                    <td>{{expense.source}}</td>
                    <td>
                      {% ifequal expense.paymentMethod "B" %}
                      Bank
                      {% else %}
                      Cash
                      {% endifequal %}
                    </td>
                    <td>
                        <a type="button" class="btn btn-warning" href="{% url 'expenseDetail' idProduct=expense.id %}">Edit</a>
                        <!-- <a type="button" class="btn btn-danger">Del</a> -->
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <a type="button" class="btn btn-success" href="{% url 'addExpense' %}">Add</a>
              <a type="button" class="btn btn-info" href="{% url 'expensesList' %}">Show more</a>
        </div>
        <hr>
        <div>
            <h3>Incomes</h3>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Source</th>
                    <th scope="col">Payment Method</th>
                  </tr>
                </thead>
                <tbody>
                  {% for income in incomes %}
                  <tr>
                    <th scope="row">{{income.date}}</th>
                    <td>{{income.amount}}</td>
                    <td>{{income.source}}</td>
                    <td>
                      {% ifequal income.paymentMethod "B" %}
                      Bank
                      {% else %}
                      Cash
                      {% endifequal %}
                    </td>
                    <td>
                        <a type="button" class="btn btn-warning" href="{% url 'incomeDetail' idProduct=income.id %}">Edit</a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <a type="button" class="btn btn-success" href="{% url 'addIncome' %}">Add</a>
              <a type="button" class="btn btn-info" href="{% url 'incomesList' %}">Show more</a>
        </div>
    </div>
{% endblock %}