{% extends 'mainApp/base.html' %}
{% block title %} home {% endblock %}

{% block message %}
{% if messages %}
    {% for message in messages %}
<div class="container text-center pt-1 mt-1">
  <div class="alert alert-{{ message.tags }}" role="alert">
    {{ message }}
  </div>
</div>
    {% endfor %}
{% endif %}
{% endblock %}

{% block content %}
  <article>
    <h3 class="text-center">Money disappears if you can't control it!</h3>
    <p>
      Are you effortlessly spending a few extra bucks on chips at the store 
      and can't save anything at the end of the month? The problem is that small 
      amounts seem innocent, but thirty small amounts is BIG MONEY! See how much 
      money you spend on chips, cole, etc.
    </p>
    
  </article>
  <article>
    <h3 class="text-center">Don't forget about expenses!</h3>
    <p>
      You already thought you could put away a couple of hundred this month, but 
      it turns out you have to give the money to the neighbor, the bank, the cat or 
      the neighbor's dog? Start writing everything down in one place and you will avoid 
      such harmful forgetfulness!
    </p>
    <h3 class="text-center">Start controlling your cash!</h3>
    <p>
      Write down your planned expenses, see what you spend most on and what you can save on! 
      Control your money, don't let it control you! 
    </p>
    
  </article>
    
{% endblock %}