{% extends 'mainApp/base.html' %}
{% block title %} login {% endblock %}

{% load crispy_forms_tags %}
{% block content %}
    <div>
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Login</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-secondary">Login</button>
            </div>
        </form>
    </div>
{% endblock %}