{% extends 'users/loggedBase.html' %}
{% block title %} {{user.username}} - Profile {% endblock %}
{% block profileContent %}
        <p class="h4 text-center">You are with us from <b>{{ user.profile.createDate|date:'E Y' }}</b>! Thank you for your trust.</p>
        <hr>
        <div>
            <p class="h5">Details about yourself:</p>
            <div class="row">
                <div class="col-5">
                    <ol class="list-group">
                        <li class="list-group-item">Name: </li>
                        <li class="list-group-item">Surname: </li>
                        <li class="list-group-item">E-mail: </li>
                        <li class="list-group-item">Date of account creation:</li>
                    </ol>
                </div>
                <div class="col-7">
                    <ol class="list-group fw-bold">
                        <li class="list-group-item"> {{ user.first_name|default:"--"  }}</li>
                        <li class="list-group-item">{{ user.last_name|default:"--"  }}</li>
                        <li class="list-group-item">{{ user.email|default:"--"  }}</li>
                        <li class="list-group-item">{{ user.profile.createDate|date:'E n, Y' }}</li>
                    </ol>
                </div>
                <div class="m-1">
                    <a class="btn btn-primary" href="{% url 'updateProfile' %}">Update data</a>
                    <a class="btn btn-danger" href="{% url 'deleteAccount' %}">Delete account</a>
                </div>
                

            </div>
            
        </div>
{% endblock %}