body{
    background-color: #b1b2b8;
}
.nav{
    background-color: #989a9c;
}
main{
    background-color: #cccdcf;
}
.alert{
    display:inline-block;
}
.pics{
    min-height: 100px;
    min-width: 100px;
}